<div class="container">
  <div class="row">
    <% @live_codings.each do |live_coding| %>
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <div class="card-header p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="<%= live_coding.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" afullscreen></iframe>
            </div>
          </div>
            <div class="card-body">
            <%# <p><button type="button" class="btn btn-secondary btn-block">視聴済みにする</button></p> %>
              <h3 class="card-text"><%= live_coding.title %></h3>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <%= paginate @live_codings %>
</div>
