main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

#movie .movie-title {
  font-size: 20px;
}

@import "bootstrap/scss/bootstrap";

.alert-notice {  
  @extend .alert-info;
  }

.alert-alert {
  @extend .alert-danger;
}

#movie .paginate-container {
  display: flex;
  justify-content: center;
}

#questions a {
    text-decoration: none;
    display: block;
    color: #333333;
    border: solid 2px #505050;
    border-radius: 10px;
    transition: .4s;
}

#questions a .title {
    font-size: 22px;
    line-height: 2;
}

#questions a .info {
    padding: 10px 10px 10px 20px;
    color: #BBBBBB;
}

#questions a {
    text-decoration: none;
    display: block;
    color: #333333;
    border: solid 2px #505050;
    border-radius: 10px;
    transition: .4s;
}

#questions .question-container {
    padding: 30px 0;
}

#questions .question {
    padding: 10px;
}

.error_explanation {
  color: red;
}

.question h3 {
  font-size: 20px;
  padding-top: 30px;
}

.container {
    text-align: left;
}
.aws_text {
    margin: 30px 0 20px 0;
}

.pagination {
  justify-content: center;
}

.talk-title {
  font-size: 20px;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}