body {
  padding-top: 60px;
}

@import "bootstrap/scss/bootstrap";

.alert-notice {  
  @extend .alert-info;
  }

.alert-alert {
  @extend .alert-danger;
}

.newpost {
  text-align: left;
  margin: 0 auto;
  width: 710px;
}

#questions a {
    text-decoration: none;
    display: block;
    color: #333333;
    border: solid 2px #505050;
    border-radius: 10px;
    transition: .4s;
}

#questions a .title {
    font-size: 22px;
    line-height: 2;
}

#questions a .info {
    padding: 10px 10px 10px 20px;
    color: #BBBBBB;
    margin:0 0 0 auto
}

#questions .question-container {
    padding: 30px 0;
}

.question {
  text-align: left;
  margin: 0 auto;
  width: 710px;
}

.error_explanation {
  color: red;
}

.container {
    text-align: left;
    padding: 120px 0 80px 0;
}

.aws_text {
  width: 710px;
  margin: 0 auto;
}

#aws_content {
  text-align: left;
  margin: 0 auto;
  width: 710px;
}

.pagination {
  justify-content: center;
}

.talk-title {
  font-size: 20px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  display: table-row;
}

.card-body {
  height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// lineページ
.text-success {
  text-align: center;
}

#line-content {
  text-align: left;
  line-height: 3em;
  margin: 0 auto;
  width: 450px;
}

.table-container {
  width: 710px;
  margin: 0 auto;
}

// navbar
.navbar {
  font-size: 0.8rem;
}
  .navbar-collapse {
    justify-content: center;
}