<div class="container">
  <div class="text-center">
   <h3>AWS講座</h3>
    </div>
      <p>注意！！！：AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。</p>
       <div class="table-container">
        <table class="table table-striped">
        <thead class="aws-table-head text-black">
         <tr>
          <th class="w-1">No.</th>
          <th class="w-5">内容</th>
         </tr>
        </thead>
        <% @aws_texts.each.with_index(1) do |aws_text, i| %>
      <tr>
        <td><%= "#{i}" %></td>
        <td><%= link_to aws_text.title, aws_text_path(aws_text) %></td>
      </tr>
     <% end %>
    </table>
  </div>
</div>
