<div class="container">
  <div class="row">
    <% @texts.each do |text| %>
      <div class="col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <div class="card-header p-0">
          </div>
            <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><rect width="100%" height="100%" fill="#868e96"/></svg>
            <div class="card-body bg-light">
            <%# <p><button type="button" class="btn btn-secondary btn-block">視聴済みにする</button></p> %>
              <h6 class="card-text"><%= text.title %></h6><br>
              <p>【<%= text.genre %>】</p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>