<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>" role="alert" id="alert"><%= message %>
    <a href="#" class="close" data-dismiss="alert">×</a>
  </div>
<% end %>