<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Gyakuten</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse">
    <ul class="navbar-nav">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rails <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">動画教材</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aws_texts">テキスト教材</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ライブコーディング</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">質問集</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <%= link_to "AWS講座", aws_texts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PHP講座</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">対談</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">情報発信</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">動画編集講座</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ライディング講座</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">LINE@</a>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "ログアウト" , destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>
    </ul>
</div>
</nav>
